
*{
    padding: 0;
    margin: 0;
    position: relative;

}

h1{
    background-color:rgb(98, 98, 100) ;
    text-align: center;
    color: white;
}
h2{
    font-size: 30px;
    padding: 2%;
   justify-content: center;
   padding-top: 0%;
   bottom: 5%;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    
    
}

.button{


    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    background-color: rgb(62, 62, 65);
    color: white;
    left: 60%;
    cursor: pointer;

}
button:hover{
    background-color: rgb(14, 13, 13);

}


.quiz-container{
    background-color: turquoise;
    height: 930px;
    width: 400px;
    border: 1px solid black;
    
}


ul li {
    list-style: none;
    padding: 1%;
    left: 5%;
    }

    .qna{
        padding: 5%;

    }
    